<div class="controls">
    <div class="searchContainer">
        <label for="searchBox" aria-label="Search">
            <span class="srt">Search</span>
            <input id="searchBox" class="searchBox" placeholder="Search" type="text">
        </label>
    </div>
    <label id="listFilter" class="filterLabel">
        <span class="srt">Filter Graveyard List</span>
        <select class="filterSelect" id="filter-select">
            <option value="all">All ({{ site.data.graveyard | size }})</option>
            <option value="app">Apps ({{ site.data.graveyard | where: "type", "app" | size }})</option>
            <option value="badge">Badges ({{ site.data.graveyard | where: "type", "badge" | size }})</option>
            <option value="feature">Features ({{ site.data.graveyard | where: "type", "feature" | size }})</option>
            <option value="service">Services ({{ site.data.graveyard | where: "type", "service" | size }})</option>
            <option value="website">Websites ({{ site.data.graveyard | where: "type", "website" | size }})</option>
            <option value="misc">Miscellaneous ({{ site.data.graveyard | where: "type", "misc" | size }})</option>
        </select>
    </label>
</div>
