{% include press_coverage.html %}
<footer class="footerContainer">
    <div class="flexWrap">
        <div class="footerTitle">
            <div class="tombstoneIcon">
                <img height="60px" width="60px" src="https://static.killedbygoogle.com/com/tombstone-alt.svg" alt="Tombstone">
            </div>
            <div class="title">Killed by Google</div>
        </div>
        <div>
            <p>
                Killed by Google is the Google graveyard; a free and open source
                list of discontinued Google services, products, devices, and apps.
                We aim to be a source of factual information about the history
                surrounding Google's dead projects.
            </p>
            <p>
                <a href="https://github.com/codyogden/killedbygoogle/graphs/contributors" target="_blank" rel="noopener noreferrer">Contributors</a>
                from around the world help compile, research, and maintain the
                information about dying and dead Google products. You can join the
                discussion on <a href="https://github.com/codyogden/killedbygoogle">GitHub</a>. A project by
                <a href="https://codyogden.com" target="_blank" rel="noopener noreferrer">Cody Ogden</a>.
            </p>
            <p>
                Press inquiries and other assorted death threats?
                <br>
                Throw a <a href="mailto:knife@killedbygoogle.com">knife@killedbygoogle.com</a>.
            </p>
        </div>
        <div class="copyNotice">
            <a href="https://github.com/codyogden/killedbygoogle/blob/main/LICENSE">
                &copy; {{ "now" | date: "%Y" }} Cody Ogden.
            </a>
            &nbsp;-&nbsp;
            <a href="https://analytics.kbg.rip" target="_blank" rel="noopener noreferrer">
                Analytics
            </a>
        </div>
        <div class="socialWrapper">
            <a href="https://killedbygoogle.blue" class="socialLink" target="_blank" rel="noopener noreferrer">
                <img class="socialImage" width="24px" height="24px" src="https://static.killedbygoogle.com/com/bsky.svg" alt="BlueSky">
            </a>
            <a href="https://github.com/codyogden/killedbygoogle" class="socialLink" target="_blank" rel="noopener noreferrer">
                <img class="socialImage" width="24px" height="24px" src="https://static.killedbygoogle.com/com/github.svg" alt="GitHub">
            </a>
        </div>
    </div>
</footer>
