<footer class="footerContainer">
    <div class="flexWrap">
        <div class="footerTitle">
            <div class="tombstoneIcon">
                <img height="60px" width="60px" src="{{ '/assets/images/tombstone.svg' | relative_url }}" alt="Tombstone">
            </div>
            <div class="title">Killed by Roblox</div>
        </div>
        <div>
            <p>
                Killed by Roblox is the Roblox graveyard; a free and open source
                list of discontinued Roblox services, products, and features.
                We aim to be a source of factual information about the history
                surrounding Roblox's dead projects.
            </p>
            <p>
                <a href="https://github.com/whostacking/killedbyroblox/graphs/contributors" target="_blank" rel="noopener noreferrer">Contributors</a>
                from around the world help compile, research, and maintain the
                information about dying and dead Roblox products. You can join the
                discussion on <a href="https://github.com/whostacking/killedbyroblox">GitHub</a>. A project by
                <a href="https://grids.so/stack" target="_blank" rel="noopener noreferrer">whostacking</a>.
            </p>
            <p>
                Inspired by Bloxy News' <a href="https://www.bloxynews.info/graveyard" target="_blank" rel="noopener noreferrer">graveyard</a> & <a href="https://killedbygoogle.com" target="_blank" rel="noopener noreferrer">Killed by Google</a>.
            </p>
        </div>
        <div class="copyNotice">
            <a href="https://github.com/whostacking/killedbyroblox/blob/main/LICENSE">
                &copy; {{ "now" | date: "%Y" }} whostacking.
            </a>
        </div>
        <div class="socialWrapper">
            <a href="https://twitter.com/killedbyroblox" class="socialLink" target="_blank" rel="noopener noreferrer">
                <img class="socialImage" width="24px" height="24px" src="{{ '/assets/images/twitter.svg' | relative_url }}" alt="Twitter">
            </a>
            <a href="https://github.com/whostacking/killedbyroblox" class="socialLink" target="_blank" rel="noopener noreferrer">
                <img class="socialImage" width="24px" height="24px" src="{{ '/assets/images/github.svg' | relative_url }}" alt="GitHub">
            </a>
        </div>
    </div>
</footer>
