<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="0aMOjDyGqyGcfAserGZGdptvpvLBgfIfKTiq9q8dBdU" />
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/tombstone.svg' | relative_url }}">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <title>Redirecting...</title>
    <link rel="canonical" href="https://whostacking.github.io/bloxyard/">
    <script>location="https://whostacking.github.io/bloxyard/"</script>
    <meta http-equiv="refresh" content="0; url=https://whostacking.github.io/bloxyard/">
    <meta name="robots" content="noindex">
</head>
<body>
    <h1>Redirecting...</h1>
    <p>If you are not redirected automatically, follow this <a href="https://whostacking.github.io/bloxyard/">link to the new site</a>.</p>
    <section class="heroSection">
        <div class="theme-switcher-container">
            <button class="theme-toggle-btn" id="theme-toggle">Dark Mode</button>
        </div>
        <div class="heroContent">
            <img src="{{ '/assets/images/roblox_logo.png' | relative_url }}" class="heroLogo" alt="Roblox Logo">
            <div class="heroTagline">Killed by ROBLOX</div>
        </div>
    </section>

    <main>
        {{ content }}
    </main>
    
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
